params {

    input               = null
    outdir              = "results"

    tools               = "vsearch"

    help                = false

    logo                = "${baseDir}/assets/pipelinelogo.png"
    run_name            = null

    reference_base      = null
    reference_version   = 1.0
    build_references    = false

    genome              = "tomato"

    blastdb             = null

    freebayes_min_alternate_count = 50
    freebayes_min_alternate_frac = 0.01

    bloomfilter         = "${baseDir}/assets/bloomfilter/phix.bf"

    skip_multiqc        = false

    multiqc_config      = "${baseDir}/conf/multiqc_config.yaml"
    multiqc_logo        = "${baseDir}/assets/pipelinelogo.png"

    conda.enabled       = false
    singularity.enabled = false
    docker.enabled      = false
    podman.enabled      = false

    publish_dir_mode    = 'copy'

    custom_config_base = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"

}

manifest {
    name = "marchoeppner/gmo-check"
    version = "0.6"
    description = "Pipeline to check for genetically modified food stuff"
    author = "Marc Hoeppner"
    homePage = "https://github.com/marchoeppner/gmo-check"
    nextflowVersion = "25.04.5"
}

plugins {
  id 'nf-schema@2.4.0'
}

validation {
    help {
        enabled = true
    }
    summary {
        hideParams = [ "references" ]
    }
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    resourceLimits = [ cpus: 4, memory: 16.GB, time: 72.h ]
}

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Module-specific configuration options
includeConfig 'conf/modules.config'
includeConfig 'conf/base.config'

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// load resources info with updated site config
includeConfig 'conf/resources.config'

profiles {

    docker { 
        docker.enabled = true 
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    podman {
        podman.enabled = false
    }
    conda {
        conda.enabled = false
    }
    test {
        includeConfig 'conf/test.config'
    }
}