process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/bwamem2" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: PTRIMMER {
        publishDir = [
            path: { "${params.outdir}/ptrimmer" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: BIOBLOOMTOOLS_CATEGORIZER {
        publishDir = [
            path: { "${params.outdir}/biobloom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]  
    }
}