process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: 'BLAST_TO_REPORT|VCF_TO_REPORT' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/json" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'JSON_TO_XLSX|MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    } 
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: PTRIMMER {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/ptrimmer" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: BIOBLOOMTOOLS_CATEGORIZER {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/biobloom" },
            mode: params.publish_dir_mode,
            enabled: true
        ]  
    }
    withName: 'GUNZIP|BWAMEM2_INDEX|SAMTOOLS_FAIDX|SAMTOOLS_DICT' {
        publishDir = [
            path: { "${params.reference_base}/gmo-check/1.0/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}