process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/bwamem2" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: PTRIMMER {
        publishDir = [
            path: { "${params.outdir}/ptrimmer" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: BIOBLOOMTOOLS_CATEGORIZER {
        publishDir = [
            path: { "${params.outdir}/biobloom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]  
    }
    withName: 'VSEARCH_FASTQFILTER|VSEARCH_FASTQMERGE' {
        publishDir = [
            path: { "${params.outdir}/biobloom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: BLAST_MAKEBLASTDB {
        publishDir = [
            path: { "${params.outdir}/blastdb" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'GUNZIP|BWAMEM2_INDEX|SAMTOOLS_FAIDX|SAMTOOLS_DICT' {
        publishDir = [
            path: { "${params.outdir}/gmo-check/1.0/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}