params {

  references {
      
    genomes {
      tomato {
        fasta    = "${params.reference_base}/gmo-check/${params.reference_version}/tomato/Solanum_lycopersicum.SL3.0.dna.toplevel.fa"
        fai      = "${params.reference_base}/gmo-check/${params.reference_version}/tomato/Solanum_lycopersicum.SL3.0.dna.toplevel.fa.fai"
        dict     = "${params.reference_base}/gmo-check/${params.reference_version}/tomato/sSolanum_lycopersicum.SL3.0.dna.toplevel.dict"
        amplicon_txt = "${baseDir}/assets/genomes/tomato/amplicon.txt"
        bed      = "${baseDir}/assets/genomes/tomato/primers.bed"
        target_bed = "${baseDir}/assets/genomes/tomato/targets.bed"
        rules    = "${baseDir}/assets/genomes/tomato/rules.json"
        url      = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-58/fasta/solanum_lycopersicum/dna/Solanum_lycopersicum.SL3.0.dna.toplevel.fa.gz"
      }
      soybean {
        fasta    = "${params.reference_base}/gmo-check/${params.reference_version}/soybean/Glycine_max.Glycine_max_v2.1.dna.toplevel.fa"
        fai      = "${params.reference_base}/gmo-check/${params.reference_version}/soybean/Glycine_max.Glycine_max_v2.1.dna.toplevel.fa.fai"
        dict     =  "${params.reference_base}/gmo-check/${params.reference_version}/soybean/Glycine_max.Glycine_max_v2.1.dna.toplevel.fa.dict"
        amplicon_txt = null
        bed      = null
        target_bed = null
        rules    = null
        url = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-58/fasta/glycine_max/dna/Glycine_max.Glycine_max_v2.1.dna.toplevel.fa.gz"
      }
      test {
				fasta    = "${params.reference_base}/gmo-check/${params.reference_version}/test/test.fa"
				fai      = "${params.reference_base}/gmo-check/${params.reference_version}/test/test.fa.fai"
				dict     = "${params.reference_base}/gmo-check/${params.reference_version}/test/test.dict"
				amplicon_txt = "${baseDir}/assets/genomes/test/amplicon.txt"
				bed      = "${baseDir}/assets/genomes/test/primers.bed"
				target_bed = "${baseDir}/assets/genomes/test/targets.bed"
				rules    = "${baseDir}/assets/genomes/test/rules.json"
				url      = "https://raw.githubusercontent.com/marchoeppner/nf-testdata/main/gmo-check/test.fa.gz"
			}        
    }
  }

}
