params {

    references {
       blastdb = "${baseDir}/assets/blastdb.fasta.gz"

       genomes {
          tomato {
            fasta = "/home/marc/projects/gaba/references/solanum_lycopersicum.fa"
            dict = "/home/marc/projects/gaba/references/solanum_lycopersicum.dict"
            primers = "${baseDir}/assets/genomes/tomato/primers.fa"
            bed = "${baseDir}/assets/genomes/tomato/primers.bed"
          }
       }
    }
  
}
