params {

    references {
       blastdb = "${baseDir}/assets/blastdb.fasta.gz"

       genomes {
          tomato {
            fasta = "/home/marc/projects/gaba/references/solanum_lycopersicum.fa"
            fai = "/home/marc/projects/gaba/references/solanum_lycopersicum.fa.fai"
            dict = "/home/marc/projects/gaba/references/solanum_lycopersicum.dict"
            amplicon_txt = "${baseDir}/assets/genomes/tomato/amplicon.txt"
            bed = "${baseDir}/assets/genomes/tomato/primers.bed"
            url = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-58/fasta/solanum_lycopersicum/dna/Solanum_lycopersicum.SL3.0.dna.toplevel.fa.gz"
          }
       }
    }
  
}
