// Example test config - requires a minimal set of input data (to be hosted in marchoeppner/nf-testdata)
params {

	email = false
	run_name = "pipeline_test"
	max_cpus = 6
	genome = "test"

	references {

		genomes {
			test {
        	    fasta    = "${params.reference_base}/test/test.fa"
            	fai      = "${params.reference_base}/test/test.fa.fai"
            	dict     = "${params.reference_base}/test/test.dict"
            	amplicon_txt = "${baseDir}/assets/genomes/test/amplicon.txt"
            	bed      = "${baseDir}/assets/genomes/test/primers.bed"
            	target_bed = "${baseDir}/assets/genomes/test/targets.bed"
            	rules    = "${baseDir}/assets/genomes/test/rules.json"
            	url      = "${baseDir}/assets/genomes/test/genome.fa"
          	}
		}
	}
}
